<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="favicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="jukka, keinanen, keinänen, jkein, oulu, blogi, Keyno, Keyno_, Finland, Harmaakatu, Volyymi" />
<title>Jukka Keinänen - jkein.com</title>
<link href="/media/site/jkein.css" rel="stylesheet" type="text/css" />
</head>
<body>
	
	<p> {{ args.part1|linebreaks }} </p>
	
	<p> {{ args.part2|linebreaks }} </p>
	
	<p> {{ args.part3|linebreaks }} </p>
	
	
	
	
	
	
</body>
</html>